body{
    background-color: teal;


}

h1{
    color: indigo;
    font-family: sans-serif;
    font-size: large;
}
p{
    color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}